
@font-face {
    font-family: 'steelfishextrabold';
    src: url('fonts/steelfish_eb-webfont-webfont.eot');
    src: url('fonts/steelfish_eb-webfont-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/steelfish_eb-webfont-webfont.woff') format('woff'),
         url('fonts/steelfish_eb-webfont-webfont.ttf') format('truetype'),
         url('fonts/steelfish_eb-webfont-webfont.svg#steelfishextrabold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'bebas_neueregular';
    src: url('fonts/bebasneue-webfont.eot');
    src: url('fonts/bebasneue-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/bebasneue-webfont.woff') format('woff'),
         url('fonts/bebasneue-webfont.ttf') format('truetype'),
         url('fonts/bebasneue-webfont.svg#bebas_neueregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
