%section#about-content.content.black
  %article.about
    %h1
      %span Hi! I'm Jon Village and I'm a developer
    .column.left.column
      %p.about-summary I'm a web developer specialized in creating MVPs for startups. My current choice of tools are Ruby on Rails and AngularJS, but I'm always researching and developing new ways for crafting applications.
    .column.right.column
      %img.profile{"src" => "images/profile.jpg"}
    
