%section#about-content.content.black
  %article
    %h1
      %span Hi! I'm Jon Village and I'm a developer
    .column.left
      %img{"src" => "images/profile.jpg"}
    .column.right
      %p I'm a web developer specialized in creating MVPs for startups. My current choice of tools are Ruby on Rails and AngularJS, but I'm always researching and developing new ways for crafting applications.
