%section#portfolio-content.content.white
  %article
    %h1
      %span This is my portfolio
    .slider    
      .fotorama
        %a{ "href"=>"www.clicktivando.com"}
          %img{"src" => "images/portfolio/clicktivando.png", "class" => "carousel-item"}
        %a{ "href"=>"www.taskarmy.com"}
          %img{"src" => "images/portfolio/taskarmy.png", "class" => "carousel-item"}
