%header#navigation-content.clearfix
  %h1#logo
  %nav#main-navigation
    %ul
      %li
        %a.anchorlink{ "href" => "#about-content" } About
        %a.anchorlink{ "href" => "#portfolio-content" } Portfolio
        %a.anchorlink{ "href" => "#hire-me-content" } Hire me
        %a.anchorlink{ "href" => "http://blog.jonvillage.com" } Blog

%section#about-content.content.black
  %article
    %h1
      %span Hi! I'm Jon Village and I'm a developer

%section#portfolio-content.content.white
  %article
    %h1
      %span This is my portfolio

%section#social-content.content.black
  %article
    %h1
      %span Follow me!
      .content.icons
        %a{ "href" => "http://www.facebook.com/villagejon" }
          %img{"src" => "images/icons/facebook.svg" }
        %a{ "href" => "https://twitter.com/JonVillage" }
          %img{"src" => "images/icons/twitter.svg" }
        %a{ "href" => "https://github.com/jvillarejo" }
          %img{"src" => "images/icons/github.svg" }
        %a{ "href" => "http://ar.linkedin.com/pub/jon-village/13/a8b/2a8/" }
          %img{"src" => "images/icons/linkedin.svg" }

%section#hire-me-content.content.white
  %article
    %h1
      %span I'm ready to work!

%footer#footer-content
  %p.footer-left All rights reserved to Jon Village
  %p.footer-right Site by Jon Village