%header.navigation-content.clearfix
  %h1.logo
    JON VILLAGE
  %nav#main-navigation
    %ul
      %li
        %a.anchorlink{ "href" => "#about-content" } About
      %li
        %a.anchorlink{ "href" => "#portfolio-content" } Portfolio
      %li
        %a.anchorlink{ "href" => "#hire-me-content" } Hire me
      %li
        %a.anchorlink{ "href" => "#social-content" } Social
      %li
        %a.anchorlink{ "href" => "http://blog.jonvillage.com" } Blog

= partial 'about'

= partial 'portfolio'

= partial 'hire-me'

= partial 'social'

%footer#footer-content.black
  %p.left All rights reserved to Jon Village
  %p.right Site by Jon Village